{% load static %}

<!DOCTYPE html>
<html lang="en">
{% include 'core/style.html' %}  

<body>

{% include 'core/navbar.html' %}  

 <div class="mt-5 pt-5">{% if messages %}
  {% for message in messages %}
    {% if message.tags == 'error'%}
      <div class="alert alert-danger alert-dismissible fade show toast" data-delay="1000" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </div>  
    {% else %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show toast" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </div>
    {% endif %}  
    {% endfor %}
{% endif %}    
</div>

{% block content %}

{% endblock %}

{% include 'core/footer.html' %}  
{% include 'core/scripts.html' %}  

</body>

</html>
