{% extends 'core/base.html' %}
{% block title %}Checkout{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
  <main>
    <div class="container wow fadeIn">

      <h2 class="my-5 h2 text-center">Checkout form</h2>

      <div class="row">

        <div class="col-md-8 mb-4">

          <div class="card">

            <form method="POST" class="card-body">
              {% csrf_token %}
                <h3> Shipping Address </h3>
                
              <div class="hideable_shipping_form">
            
              <div class="md-form mb-5 pt-2">
                <input type="text" id="shipping_address" placeholder="1234 Main St" name="shipping_address" class="form-control"/>
                <label for="shipping_address" class="">Address</label>
              </div>

              <!--address-2-->
              <div class="md-form mb-5 pt-2">
                <input type="text" id="shipping_address2" class="form-control" placeholder="Apartment or suite" name="shipping_address2" class="form-control"/>
                <label for="shipping_address2" class="">Address 2 (optional)</label>
              </div>

              <div class="row">

                <div class="col-lg-4 col-md-12 mb-4">

                  <label for="shipping_country">Country</label>
                    {{ form.shipping_country }}
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>

                </div>
                <div class="col-lg-4 col-md-6 mb-4">

                  <label for="shipping_zip">Zip</label>
                  <input type="text" class="form-control" id="shipping_zip" placeholder="Zip code" name="shipping_zip">

                  <div class="invalid-feedback">
                    Zip code required.
                    </div>
                  </div>
                </div>

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="same_billing_address" class="custom-control-input" id="same_billing_address">
                    <label class="custom-control-label" for="same_billing_address">Billing address is the same as my Shipping address</label>
                </div>

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="set_default_shipping" class="custom-control-input" id="set_default_shipping">
                    <label class="custom-control-label" for="set_default_shipping">Save as default Shipping address</label>
                </div>

              </div>

                 <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="use_default_shipping" class="custom-control-input" id="use_default_shipping">
                    <label class="custom-control-label" for="use_default_shipping">Use default Shipping address: 352rdsmf e3</label>
                </div>

              <hr>
            

             

               <h3> Billing Address </h3>
                
              <div class="hideable_shipping_form">
            
              <div class="md-form mb-5 pt-2">
                <input type="text" id="billing_address" name="billing_address" class="form-control" placeholder="1234 Main St">
                <label for="billing_address" class="">Address</label>
              </div>

              <!--address-2-->
              <div class="md-form mb-5 pt-2">
                <input type="text" id="billing_address2" name="billing_address2" class="form-control" placeholder="Apartment or suite">
                <label for="billing_address2" class="">Address 2 (optional)</label>
              </div>

              <div class="row">

                <div class="col-lg-4 col-md-12 mb-4">

                  <label for="billing_country">Country</label>
                    {{ form.billing_country }}
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>

                </div>
                
                <div class="col-lg-4 col-md-6 mb-4">

                  <label for="zip">Zip</label>
                  <input type="text" class="form-control" id="billing_zip" name="billing_zip" placeholder="Zip Code">
                  <div class="invalid-feedback">
                    Zip code required.
                  </div>

                </div>
              </div>
            </div>
              <hr>
            
    
              <div class="custom-control custom-checkbox">
                <input type="checkbox" name="use_default_billing" class="custom-control-input" id="use_default_billing">
                <label class="custom-control-label" for="use_default_billing">use default billing address </label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" name="set_default_billing" class="custom-control-input" id="set_default_billing">
                <label class="custom-control-label" for="set_default_billing">Save this information for next time</label>
              </div>

              <hr>

              <h3> Payment option </h3>
              <div class="d-block my-3">
              {% for value, name in form.fields.payment_option.choices %}
                <div class="custom-control custom-radio">
                  <input id="{{ name }}" name="payment_option" value={{ value }} type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
                </div>
                {% endfor %}
                
              </div>
             
              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

            </form>
          </div>
        </div>

        <div class="col-md-4 mb-4">
          {% include 'core/order_snippet.html' %}

        </div>
      </div>
    </div>
  </main>
{% endblock %}