{% extends 'core/base.html' %}
{% block title %}Products{% endblock %}
{% block content %}
 

  
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">
      <div class="row wow fadeIn">
        <div class="col-md-6 mb-4">
          <img src={{ item.image.url }} class="img-fluid" alt="">
        </div>
        <div class="col-md-6 mb-4">
          <div class="p-4">
            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{ object.get_category_display }}</span>
              </a>
            </div>

            <p class="lead">
              {% if object.discount_price %}
                  <span class="mr-1">
                    <del>${{ object.price }}</del>
                  </span>
                  <span>${{ object.discount_price }}</span>    
              {% else %}  
                  <span>${{ object.price }}</span>
              {% endif %}
            </p>

            <p class="lead font-weight-bold">Description</p>

            <p>{{object.description}}</p>
            <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
              Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </a>
            <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
              remove from cart
              
            </a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </main>
 

{% endblock %}